<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- Maria DB Info -->
		<add key="MariaDBExePath" value="C:\\Program Files\\MariaDB 11.4\\bin\\mariabackup.exe"/>
		<add key="MariaDBDataDir" value="C:\\Program Files\\MariaDB 11.4\\data"/>
		<add key="MariDBUser" value="root"/>
		<add key="MariDBPassword" value="testpassword"/>

		<!-- Remote Server Info in JIMPENGTHAI92/localhost-->
		<add key="RemoteBackupNetPath" value="\\JIMPENGTHAI92\Remote"/>
		<add key="RemoteBackupPath" value="C:\Backup\Remote"/>
		<!-- Remote Server WIN-V1S1KJM6MLU details-->
		<add key="RemoteServer" value="WIN-V1S1KJM6MLU"/>
		<add key="RemoteUser" value="Administrator"/>
		<add key="RemotePassword" value="Sasasa1"/>

		<!-- Local Access Info in JIMPENGTHAI92/localhost-->
		<add key="LocalBackupPath" value="C:\Backup\Local"/>
		<add key="LocalServer" value="JIMPENGTHAI92"/>
		<add key="LocalUser" value="JimPeng92"/>
		<add key="LocalPassword" value="HealthPT92"/>
	</appSettings>
</configuration>